/* Variables */
:root {
    --main-bg-color: #f0b5e6;
    --pie-bg-color: #e0a2ef;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 1.5rem;
}
p,
h2,
h3,
h4,
h5,
h6,
.boton {
    
    font-family: 'Mukta', sans-serif;
}
body{
    background-color: rgb(248, 230, 236);
    
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.menu_close{
    transition: all 0.5s;
    display: none;
}
nav{
    position: absolute;
    top:70px;
    width: 100%;
    height: 100vh;
    /* display: flex; */
    flex-direction: column;
    
  display: none;
  background-color: rgb(0, 0, 0, 0.7);
    border: 0.2px solid rgb(206, 206, 206);
    box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.5s;
    z-index: 10;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   padding-left: 0;
    text-decoration: none;
}
nav ul li{
    border-bottom: 1px solid var(--main-bg-color);
    width: 100%;
   padding: 10px 0;
    list-style-type: none;
    text-align: center;
    margin: 1.8rem 0;
}
nav ul li:hover{
    background-color: var(--main-bg-color);
}
.contenedorsol{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header {

    width: 100%;
 
    display: flex;
    flex-direction: column;
    padding: 30px 18px;
   
    align-items: center;
   
    
}
.header a{
    text-decoration: none;
    color: rgb(238, 106, 214);
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1rem;
}



/* MAIN */

.main {
    overflow: hidden;
   display: flex;
   flex-direction: column;    
    
}
.ppresentacion{
    padding: 1.5rem;
    
}
.masinfo{
    width: 8rem;
    padding: 5px;
    border-radius: 2rem;
    border: 0.1px solid black;
    background-color: var(--pie-bg-color);
    transition: all 1s;
}
.masinfo:hover{
    transform: scale(1.2);
    color: rgb(248, 230, 236) ;
}
.flecha{
   
    margin: 1.5rem auto;
    width: 3rem;
}

.imagenmain{
    margin-top: 4rem;
    width: 196px;
    
    flex-shrink: 0; 
    
}
.imagenmain img{
    max-width: 100%;
    border-radius: 341px; 
    
    
}
.servicios{
    display: flex;
    flex-direction: column;
    
}

/*-------------CARTAS------------*/

.servicios .contenedorcartas{
   margin: 2rem 0;
}
.servicios .contenedorcartas h2{
    text-align: center;
}
.servicios section{
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}
.servicios section h2{
    
    text-align: center;
    
}
section .servicios  .contenedorimg{
    margin: 1rem auto;
    width: 15rem;
    
   
   
}

.contenedorimgre{
   
    margin: 0 auto;
    width: 70%;
}
.rever{
    text-align: center;
    width: 100%;
}
section .servicios  .contenedorimg .imgcartas{
max-width: 100%;
width: 100%;
height: 300px;
border-radius: 2rem;
object-fit: cover;
}
h3{
    text-align: center;
    color: #eda7ff;
    margin: 1.7rem auto;
    width: 100%;
    padding: 1rem;
    color: #eda7ff;
    background-color: rgb(0, 0, 0, 0.4);
}
.qtext{
    text-decoration: none;
    color: #eda7ff;
    
}
.rever, .quiensol{
    padding: 20px;
}
#carouselExampleControls{
    height: 400px !important;
}
.carousel-item img{
    max-width: 100%;
    width: 100%;
    height: 400px;    
    object-fit: cover;
}
.footer {
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--pie-bg-color);
}
.footer h5{
    font-size: 1.2rem;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bolder;
}
.footer .redes{
    align-self: center;
    margin-bottom: 20px;
}
.footer .redes a{
    margin: 0 1.3rem;
    color: rgb(99, 93, 82);
    display: inline-block;
}
.footer .redes i{
    font-size: 1.3rem;
    color: #000;
    transition: all 0.2s ease-in;
}
.footer .redes i:hover{
    transition: all 0.3s ease-in;
    transform: scale(1.4);
    background-color: var(--main-bg-color);
}





 /*-------------CURSOS------------*/
 .proximamente{
    text-align: center;       
 }
 /*-------------QUIEN SOY------------*/
 .imgquiencontenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
/*-------------BLOG------------*/
.imagenmain1{
    text-align: center;
}
.imagenmain1 img{
    clip-path: ellipse(42% 51% at 53% 52%);
    width: 200px;
    
}
.contenedorblog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorblog .itemblog{
    margin: 80px 0;
}
.contenedorblog h4 {
        font-size: 1rem;
        font-style: italic;
        font-weight: bold;
}
/*-------------CONTACTO------------*/
.contenedorflex_contacto {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedorflex_contacto fieldset{
    width:100%;
    padding: 30px;
    margin-top: 5rem;
    margin-bottom: 10rem;
}
.contenedorflex_contacto fieldset input{
    margin: 20px;
    width: 90%;
}
.contenedorflex_contacto fieldset textarea{
    width: 90%;
    height: 150px;
    margin: 20px;
    resize: none; 
}
.contenedorflex_contacto fieldset .boton{
    font-size: 1rem;
}

/*-------------MEDIA QUERIES------------*/

@media (max-width:576px) {
    svg{
     margin-bottom: 120px;
    }
    .itemblog{
       margin: 80px 0;
       padding: 20px;
   }
 }


 