.imagenmain{
    margin-bottom:50px ;
    display: grid;
    place-content: center;
    img{
        clip-path: ellipse(42% 51% at 53% 52%);
        width: 200px;
    }}

    .imgquiencontenedor{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }


   