// colors
$colorcabecera: #f0b5e6;
$colorpie:#e0a2ef;

// tamaños texots y parrafos

h1{
    font-size: 2.5rem;
}

h2,h3,h4,h5,p,.boton{
    font-size: 1.5rem;
    font-family: 'Mukta', sans-serif;
}

